/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/*utilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
}
.margin-b30{
    margin-bottom: 30px;
}
.margin-b80{
    margin-bottom: 80px;
}
.main-text{
    font-weight: 900;
    font-size: 55px;
    line-height: 1;
    letter-spacing: 1px;
}
.secondary-text{
    font-weight: 700;
    font-size: 24px;
}
.normal-text{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}
.light-text{
    font-weight: 300;
}
.centered-text{
    text-align: center;
}
.btn{
    display: block;
    width: 200px;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    border: none;
}
.delete-btn{
    display: block;
    width: 20px;
    background-color: red;
    color: white;
    
}
/*header*/
.site-header{
    background-color: #89cff0;
}
.site-header h1{
    font-weight: 300;
    font-size: 40px;
}
nav a{
    color: black;
    font-weight: 300;
    font-size: 24px;
    margin-right: 20px;
}
.header-text{
    width: 60%;
}
.header-img{
    width: 40%;
}
/* more about us section*/
.more-about-us{
    background-color: lightgrey;
}
/*input*/
.input-control{
    margin-bottom: 20px;
}
.input-control label{
    display: inline-block;
    font-size: 20px;
    width: 20%;
    text-align: right;
}
.input-control input{
    font-size: 20px;
    width: 60%;
}
.input-control select{
    font-size: 20px;
    width: 60%;
}
.btn-container{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.alert-error{
    border-color: red;
}
/*pet card*/
#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    margin-top: 3rem;
}
.petCard{
    background-color: #dedede;
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 1rem;
}
.petsInfo{
    display: flex;
    justify-content: space-between;
    background-color: #89cff0;
    margin: 1rem auto;
    padding: 5px;
    border-radius: 3px;
}
.grooming{
    background-color: lightcyan;
}
.vaccines{
background-color: lightcoral;
}
.hotel{
    background-color: lightgreen;
}